@import url('https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css');
body{
    
    background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8360c3, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1c1639, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* fallback for old browsers */
}

#framevideo{
    border: 1px solid #fafafa;
}